[2014-01-17 13:45] edbond opened #1 "Cancel request"
I am searching a way to cancel request.
I can close channel but request will not be aborted.
Maybe request method can return two channels (if asked to), one for response and control chan for cancelling request.

[2014-01-21 04:15] emidln opened #2 "credentials always sent (breaks demo)"
xhr.withCredentials is always being set (it's hardcoded true). I fixed it in my fork (https://github.com/emidln/cljs-http) by allowing a :with-credentials? key to be set to false. If unset, I defer to existing behavior.

I'm bringing this up as an issue (as opposed to a pull request) as I saw that the feature existed at some point in the past, but was removed for some reason. Can you comment on th

[2014-01-21 10:49] piatra opened #3 "Make a CORS request"
Is it possible to make a CORS request in cljs-http ? If not can it be extended based on the current implementation ? Would like to contribute :)

Similar to http://www.html5rocks.com/en/tutorials/cors/

[2014-01-21 17:50] #2 closed, assigned to nobody

[2014-01-22 00:14] zbyte64 opened #5 "Cannot detect redirect"
If you make a request the client will follow redirects but you have no way of knowing in the response what the final url was. adding an entry for .getLastUri in the channel response will allow the requester to determine where they were redirected too.

[2014-02-09 12:27] #3 closed, assigned to nobody

[2014-02-25 08:47] #5 closed, assigned to nobody

[2014-03-28 17:14] thomas-shares opened #10 "How to set accept header on a GET"
Hi,

For my app I need to set the accept header to either application/xml or application/json, but it isn't clear on how to do this. I tried to do this the same way as clj-http does this, but that didn't seem to work.

More examples would be very welcome.

Thank you,
Thomas

[2014-03-28 17:24] #1 closed, assigned to nobody

[2014-04-02 15:30] #10 closed, assigned to nobody

[2014-05-15 20:03] jconti opened #12 "xhr.listen not callable (xhr undefined) in core.js line 33"
[code]

My project file has the following dependencies

[code]

Firefox 29 and Chrome 34 both complain when the get-transactions function is run.  The error is that xhr is not callable in core.cljs line 33:

Chrome: "Uncaught TypeError: undefined is not a function"
Firefox: "TypeError: xhr.listen is not a function"

Is there something I've overlooked that I need to provide, or is this possibly a b

[2014-05-19 16:50] #12 closed, assigned to nobody

[2014-06-08 01:55] myguidingstar-zz opened #13 "Mocking request?"
AngularJs comes with pretty handy mocking feature in their http api which is really convenient to develop

[2014-06-24 00:31] ttasterisco opened #15 "POST request params?"
Hi,

A question: how can I make a POST request with form params?

Is it supported? Couldn't find anything about this in the documentation or in the source code.

Thanks.

[2014-06-25 01:47] #13 closed, assigned to nobody

[2014-06-30 20:23] #15 closed, assigned to nobody

[2014-07-16 15:53] Quantisan opened #19 "Encoded URI path gets decoded"
I'm trying to send a GET request something like `http://example.com/articleUrl/http%3A%2F%2Fwww.wiscnews.com%2Fsports%2Farticle_c8b5102a-c30a-5906-86a1-2ffef91f858f.html/` but the actual request sent keeps getting decoded somehow. Any pointer as to where to unit test this in cljs-http please?

[2014-09-14 08:41] xavi opened #22 "Uploading files"
Are there any plans to add support for file uploading?

Maybe could be supported using [FormData](https://developer.mozilla.org/en-US/docs/Web/Guide/Using_FormData_Objects) and with an API like

[code]

[2014-09-15 17:11] myguidingstar-zz opened #23 "custom channel as an optional argumnent to cljs-http.core/request"
`cljs-http.core/request` currently creates a new channel for each on-going request then closes it. Do you think it's sensible to pass a channel as an optional argumnent to the function?

[2014-09-26 02:32] apa512 opened #26 "form-params not being sent"
I have no idea why this simple example wont work. Am I missing something?

[code]

Compojure route:

[code]

Request:

[code]

Correct request with curl --data "key1=value1&key2=value2" http://localhost:4000/testroute

[code]

This is with version 0.1.16 of cljs-http.

[2014-09-26 14:19] #26 closed, assigned to nobody

[2014-10-07 10:22] robert-stuttaford opened #27 "Transit MsgPack"
Any plans to support transit-decode for the "application/transit+msgpack;charset=UTF-8" content-type?

[2014-10-07 10:54] #27 closed, assigned to nobody

[2014-10-10 09:53] Gonzih opened #29 "Error "Uncaught Error: Undefined nameToPath for com.cognitect.transit.eq ""
Hello, I was just trying to poke around with this library and lein figwheel without much success. I'm getting error "Uncaught Error: Undefined nameToPath for com.cognitect.transit.eq " which is coming from transit (probably). Clojurescript version is 0.0-2356. Also I see bunch of warnings during compilation:

[code]

Are there any limitations on which clojurescript version I can use with this libr

[2014-10-11 09:32] cpetzold opened #30 "JSONp support"
How do you feel about adding JSONp support? To do it right may mean changing the core interaction between `core/request` and `client/request`, but it might be nice to abstract away the communication layer a bit more. JSONp doesn't fit _that_ nicely with this library since requests can't be aborted, and all you get back is the response body -- but a lot of the middleware fns in client would still b

[2014-10-12 17:58] #29 closed, assigned to nobody

[2014-10-13 22:37] jack-james opened #31 "console error when passing a channel"
with cljs-http 0.1.17, i see an error in the console when passing a channel.

code (copied from readme):
[code]
error in console:
Uncaught Error: Assert failed: Can't put nil in on a channel
(not (nil? val))

[2014-10-17 14:47] Licenser opened #33 "don't try to parse 204 replies"
The status code "204 No Content" is attempted to be parsed with the given encoding, causing errors since no content can't be parsed. it would be good to skip parsing of the reply indicates that there is no content provided.

[2014-11-04 18:22] gbuisson opened #35 "&android= appended to all queries on chrome for android"
if a query is issued from Chrome on an android device, every request gets an &android=<rand_int> param appended to the called url.

browsing the code i see it's a feature supposed to fix CORS on android:

[code]

the problem is that with strict APIS, implemented with compojure-api for instance, every useless parameter sent by the client is unallowed, thus breaking the call.

If i switch chrome to

[2014-11-12 05:03] myguidingstar-zz opened #38 "More reusable internal API?"
I'm working on two other versions of cljs-http that work on Nodejs and ArangoDB/Foxx. Of course it's fine to just refer to some vars in `cljs-http.client`. But do you think it's sensible to make internal API more reusable, given that only several things need to be changed in each version. And since cljs-http internal API work on plain Clojure data structure, most of it can be ported to JVM Clojure

[2014-11-26 12:17] Deraen opened #39 "Aborting requests"
Hi,

I think there is a problem with the `cljs-http.core/abort!`. It tries to find the XhrRequest  by using the channel as map key, this is problematic as several wrappers are creating new channels using async/map. This means that the user doesn't have the original channel and `abort!` doesn't work.

Perhaps it would be possible to remove the need for `pending-requests` atom and add logic to `cljs

[2014-12-03 00:21] dustingetz opened #40 "How to use a custom transit reader with cljs-http?"
Based on [util.cljs#L51](https://github.com/r0man/cljs-http/blob/master/src/cljs_http/util.cljs#L51) it doesn't seem like this is possible.

[2014-12-03 01:05] #40 closed, assigned to nobody

[2014-12-30 11:48] #39 closed, assigned to nobody

[2015-01-05 21:19] shofetim commented on #30
:+1: JSON would be nice

[2015-01-06 18:03] dustingetz opened #43 "Control Content-Type header"
I would like to be able to control the "Content-Type" header.

It would also be nice if I could put all my data in the request :body and have cljs-http serialize it based on my provided content-type, rather than have to put my data in the proper magic key (:edn-params, :transit-params etc).

This would also pave a path to making it easier to configure cljs-http serialization from the app, somethin

[2015-01-06 19:08] dustingetz commented on #43
It appears I can control the content-type header after all, I'm not sure why I didn't see that befor

[2015-01-06 19:08] #43 closed

[2015-01-15 17:36] ducky427 commented on #30
+1

[2015-02-08 14:47] rjohnsondev opened #46 "core/abort fails on client/request"
It took me a while to realise that the abort function here https://github.com/r0man/cljs-http/blob/master/src/cljs_http/core.cljs#L9 is not compatible with channels generated by `client/request` and friends (due to the response wrappers? https://github.com/r0man/cljs-http/blob/master/src/cljs_http/client.cljs#L97; since https://github.com/r0man/cljs-http/commit/9fe48a7fc4a6c28b4473760b8993564c502c

[2015-02-09 11:05] r0man commented on #46
Patch welcome!

[2015-02-09 17:25] rjohnsondev commented on #46
I think something like this might work; haven't checked that it doesn't break things horribly yet: https://github.com/rjohnsondev/cljs-http/compare/fix/abort-request?expand=1

[2015-02-09 17:32] Deraen commented on #46
That is interesting implementation. It could work.

One note: it would be best to do get, assoc and dissoc in one "transaction": e.g.

[code]

[2015-02-15 12:55] kernelp4nic opened #47 "[client] - GET with duplicated query params"
Hello! I'm having a problem with duplicated query params, I need to receive a list of parameters on the server, I'm using compojure, so if I go with:

[code]

[code]

This works great with an XMLHttpRequest (or other clients), but not with cljs-http.

So, if I try to parse multiple params with the same name:

[code]

[code]

Given that query params are handled with a map this behaviour is expected

[2015-02-15 21:19] brentvatne commented on #47
To add some more nuance to this issue, Rails uses `[]` after the parameter name to indicate that a given attribute is a list: `?issue_id[]=1&issue_id[]=2` - without that, the last value for a given param will be used, eg: `?issue_id=1&issue_id=2` will yield `issue_id=2` on the server.

[2015-02-16 17:37] rjohnsondev commented on #46
FYI I did try this however it causes a bunch of the tests to fail for some reason, will dig into it more when I have time

[2015-02-23 17:25] lacogubik opened #48 "Support custom middlewares"
Clj-http supports custom middlewares (e.g. to be able to set default headers for all the requests), it would be nice if cljs-http would support it as well.

[2015-02-23 17:37] brentvatne commented on #48
@r0man recently merged a PR that I submitted which adds a middleware to set the default headers: #45

Could you give a code example of how you would like the custom middleware api to look like? I agree that this may be a desirable feature.

[2015-02-23 17:51] lacogubik commented on #48
Maybe something like this? https://github.com/dakrone/clj-http#custom-middleware-lists

Although this might still not solve default header issue. Yes, I had a look at your PR, but my understanding is that you still need to provide :default-headers map on each call.

Ideal behaviour for my use case would be to set default headers once, and then just be able to call library methods for get,post etc,

[2015-02-23 20:04] brentvatne commented on #48
@lacogubik - one solution for this is to create a client with the middlewares that you want to use, but you will have to redefine the convenience methods eg: `get` `post` `delete` to use your client, eg:

[code]

Your proposed idea looks nice, let's see what @r0man thinks

[2015-02-24 00:51] t3chnoboy commented on #30
:+1:

[2015-02-24 16:42] lacogubik commented on #48
@brentvatne Thanks, that is exactly what we did, but I would hope there could be better way, rather then redefining all the methods.

[2015-02-24 16:49] r0man commented on #48
I think the ideal solution would be to enhance the `get`, `post`,
etc, functions to use the default client if the first argument is
a string/url, and also accept a custom client as first
argument. So those 2 calls would be possible.

[code]

This is also a problem in clj-http. @dakrone Any thoughts about this?
Would you be open to such behaviour in clj-http?

[2015-02-27 22:06] mhjort commented on #30
+1 for JSONP

[2015-02-28 11:58] r0man commented on #30
Ok, ok. :) Patch welcome!

[2015-02-28 12:54] r0man commented on #38
Sorry, I somehow missed this. What exactly do you have in mind? What should be more reusable? Did you get anywhere with you node version?

[2015-02-28 12:56] r0man commented on #31
Closing this, fixed by another PR.

[2015-02-28 12:56] #31 closed

[2015-03-01 01:06] t3chnoboy commented on #30
@cpetzold  they can :smile:
see https://github.com/t3chnoboy/cljs-http/blob/jsonp/test/cljs_http/test/client.cljs#L148-L156

[2015-03-01 14:01] #30 closed

[2015-03-04 22:51] brentvatne commented on #48
@r0man - I like that solution, should I throw a pull request together or would you like to wait on some consensus from @dakrone in order to keep consistent with clj-http?

[2015-03-05 12:28] r0man commented on #48
PR with tests welcome ...

[2015-03-15 20:47] dakrone commented on #48
@r0man I'd be fine with passing in a client to the `get`, `post`, `put`, etc methods

[2015-03-17 14:32] belo82 commented on #22
Hi guys,

I'm trying to send multipart data to server, but I'm getting back the following error:

[code]
I use Ring and `wrap-multipart-params` middleware on the server side. Problem is that client is not setting `boundary` as part of the `Content-Type` header.

My code to send data to server looks like this:
[code]
Have you guys any idea how to could I fix this problem?

[2015-03-17 18:16] belo82 commented on #22
@r0man can you please have a look at this pull request https://github.com/r0man/cljs-http/pull/51?

I removed explicit setting of `content-type` for multipart body so browser can set it to correct value. Something like

[code]

[2015-03-18 15:45] ttasterisco commented on #47
@kernelp4nic check this PR https://github.com/r0man/cljs-http/pull/17

[2015-03-28 11:42] #33 closed

[2015-05-20 23:03] apsdehal opened #54 "Passing custom headers"
How to pass `x-user-id` to headers.
I have tried `(http/get "url_here" {:headers {"x-user-id" "1"}})`, but this one sends `Access-Control-Request-Headers:x-user-id`, and this is not what I want. `x-user-id:1` to be send as a header.

[2015-05-21 00:27] #54 closed

[2015-05-25 17:50] cursork opened #55 "Tests rely on api.openbeerdatabase.com"
Which no longer appears to exist?

[code]

http://openbeerdb.com

[2015-05-26 10:14] #55 closed

[2015-05-28 08:41] ashercoren opened #57 "Add more to the Wiki!"
This library looks awesome, but with the luck of Wiki it's very difficult to understand how to use it (I'm referring to the more complex features, such as custom middleware, custom headers, etc.

[2015-06-02 17:26] apsdehal opened #58 "Show all response headers"
If I try to get `:headers` from the response, only header I get is content-type.

[2015-06-02 18:22] r0man commented on #58
I think you might have a CORS problem. Did you try to set the access-control-allow-headers  on your server?

[2015-06-02 18:23] r0man commented on #58
I think you might have a CORS problem. Did you try to set the access-control-allow-headers  on your server?

[2015-06-02 18:23] r0man commented on #58
I think you might have a CORS problem. Did you try to set the access-control-allow-headers  on your server?

[2015-06-02 18:23] r0man commented on #58
I think you might have a CORS problem. Did you try to set the access-control-allow-headers  on your server?

[2015-06-02 18:23] apsdehal commented on #58
Yes. I have set the access-control-allow-headers on the server

[2015-06-02 18:30] r0man commented on #58
Sorry, I meant this header: access-control-expose-headers

[2015-06-02 18:34] apsdehal commented on #58
No we don't have that, if it is necessary how is network showing the response headers?

[2015-06-02 18:36] r0man commented on #58
I have set them to `Access-Control-Expose-Headers: etag, link, x-total`

[2015-06-02 18:42] apsdehal commented on #58
Thanks for the help, let me confirm this and I will close the issue.

[2015-06-04 10:05] rukor opened #59 "Support for nodejs"
Is there planned support for cljs running under nodejs (in a server environment) ?

Thanks

[2015-06-04 10:24] r0man commented on #59
No, noting planned. Patch welcome!

[2015-06-04 10:52] rukor commented on #59
Thanks, I will take a look.

[2015-06-04 10:52] #59 closed

[2015-06-04 12:35] Elyahou opened #61 "error-code are minified in advanced compilation"
When using advanced compilation the error code returned by cljs-http reqeusts are minified and are not usable.

[2015-06-04 13:28] r0man commented on #61
Should be fixed in `0.1.34`.

[2015-06-04 13:28] #61 closed

[2015-06-04 17:48] kernelp4nic commented on #47
oh! thanks! I will send a PR with a `GET` example using query-params.
Something like:

[code]

Feel free to close this. Thanks!

[2015-06-04 17:48] #47 closed

[2015-06-07 16:37] timknip opened #63 "response-type not working (missing key in function params)"
Specifying a :response-type doesn't work because the key is not specified here:
https://github.com/r0man/cljs-http/blob/master/src/cljs_http/core.cljs#L73

Adding it fixes it.

ie:
```[{:keys [request-method headers body with-credentials? cancel response-type] :as request}]```

[2015-06-07 16:48] r0man commented on #63
@timknip The whole `request` is passed to `build-xhr` and destructured there.
Are you sure this is the problem? Ping @skrat

[2015-06-07 17:20] timknip commented on #63
@r0man You're right,
Sorry, my bad. Damn typo :S
Closing it.

[2015-06-07 17:20] #63 closed

[2015-06-09 00:04] apsdehal commented on #58
Thanks issue is solved.

[2015-06-09 00:04] #58 closed

[2015-06-18 16:12] ioRekz opened #64 "File upload progress"
Is there a way to get the % upload progress ?

[2015-06-22 13:47] pate opened #65 "Custom Authentication"
I need to talk to an API that expects "xBasic" instead of "Basic" authentication, but is otherwise the same as basic authentication.

What is the recommended way to add support for more authentication types?

A multimethod middleware function seems like a good candidate to support various types of auth.

[2015-06-22 13:48] pate commented on #65
Hm, in issue #48 I found the wrap-default-headers example:

[code]

Do I have the right idea here?

[2015-06-24 12:14] ioRekz commented on #64
xhrio added this feature April 23, 2014.
https://code.google.com/p/closure-library/source/detail?spec=svn095312e880c566125dfdbdafc0da54043c5facbc&r=095312e880c566125dfdbdafc0da54043c5facbc
I could try a pull request if someone can help me finding the right api

[2015-06-29 10:27] ioRekz commented on #64
They rolled back this one actually :(

[2015-06-29 10:27] #64 closed

[2015-07-06 09:18] ttasterisco commented on #23
@r0man close this since a PR has been merged?

[2015-07-06 09:22] ttasterisco commented on #22
@r0man also close this one since PRs have fixed it? :p

[2015-07-09 13:18] geoffreymuchai commented on #58
I am experiencing problems retrieving the `etag` value from the response provided by the server. The server has been setup to expose the `etags` through the following configuration:

`Access-Control-Expose-Headers: etag, link, x-total`.

The only headers returned are `{last-modified Fri, 05 Jun 2015 07:45:53 GMT, content-language en, content-type application/json}`. The server has been configured

[2015-07-09 22:31] puppybits commented on #57
I got stuff a bit too. But it's using standard ring requests so much of the documentation about Ring applies to this library as well.
[https://github.com/ring-clojure/ring/wiki/Concepts](https://github.com/ring-clojure/ring/wiki/Concepts)

For instead setting customs headers can be done like this:
[code]

[2015-07-19 18:58] fluke777 opened #66 "cljs-http starts looping when providing custom channel"
Not sure if I am not using it correctly or this is a bug.

When I write this simple program

    (def c (async/chan))

    (go (while true
      (prn (async/<! c))))

    (go
      (let [resp (async/<! (http/get "some_api" {:accept "application/json"}))]
        (async/>! c resp)))

Everything works fine. But when I run this one

    (def c (async/chan))

    (go (while true
      (prn (async/<! c

[2015-07-24 20:53] shmish111 opened #68 "get request not sending body"
When I use the following request in google chrome, it shows me the payload that was sent correctly

[code]

However if I use a `GET` request it appears from chrome developer tools that no payload is sent:

[code]

Looking in the source code I cannot work out why this is?

[2015-07-30 15:56] sthomp opened #70 "Misplaced function annotation warning in jsonp.js"
Getting the following compiler warning after using cljs-http 0.1.35 in my project:

[code]

Is this a known warning?

[2015-08-31 14:21] calebsmith opened #74 "Using a map with multipart-params leads to non-determinant ordering"
I was having an issue passing a map to multipart params in which the server would reject the request as invalid when the code was run in certain contexts, but not others. It seemed deterministic, but was puzzling because the code was identical.

I finally realized that multipart/form-data is supposed to be sent in the order the fields are presented in the document, per http://www.w3.org/TR/html4/i

[2015-09-03 09:39] Mamun opened #76 "cljs-http.core/xhr does not set header content type and correct request method name"
- What will be request method for example in bellow?
- What will be header content-type for example in bellow?

(http/post "http://example.com" {:edn-params {:foo :bar}})

When headers set "content-type" with "application/x-www-form-urlencoded", it is setting correct content type with request method POST. But with other type, content type is not set and request method is OPTIONS.

- Working exampl

[2015-09-03 13:23] Mamun commented on #76
This is the case for cross domain. But in same domain, it sets correctly. Not an issue.

[2015-09-03 13:23] #76 closed

[2015-10-24 09:57] drakezhard opened #78 "CORS preflight requests won't complete"
I'm using Pedestal as the CORS server.

    (def service {:env :prod
                  ::bootstrap/routes routes
                  ;; Allow services that are accessing this
                  ;; service from a http-referer[sic] of http://localhost:3000.
                  ;; All others are denied.
                  ::bootstrap/allowed-origins ["http://localhost:3000"]
                  ::bootstrap/r

[2015-10-29 16:53] pandeiro opened #79 "API for modifying default `cljs-http.client/request` middleware?"
I have a use-case like this: I need to talk JSON but there are keys in the third-party JSON payloads which are not keywordizable.

Currently (I think) this means that I can't use the niceties of the `cljs-http.client` namespace, which I was using extensively, because `:keywordize-keys true` is baked in to the json-response middleware included there.

Would it be possible / practical / a good thing

[2015-10-29 17:39] r0man commented on #79
Hi Murphy,
I think the best way would be to make this configurable as a parameter to
wrap-json-response and then build your own client with the stuff you need.
I am aware that the get/post etc fns are tied to the default client. I
think those fns should be changed so you can pass a client as the first
parameter. Because of that I usually just call the request fn and use a map
as arguments, and don

[2015-10-29 17:44] pandeiro commented on #79
Roman! That's not unfortunate at all -- that is great! Enjoy the waves!

Anyhow yes I see your point, and I will send a PR for review soon.

[2015-10-31 12:54] r0man commented on #78
@drakezhard Is Pedestal returning the `Access-Control-Allow-Credentials` header?
https://developer.mozilla.org/en-US/docs/Web/HTTP/Access_control_CORS#Access-Control-Allow-Credentials

[2015-11-10 16:55] calebsmith opened #81 "Using multiple default headers results in last value repeated"
Ran into this issue when setting the csrf-token as well as x-requested-with as default headers. To reproduce:
[code]

This results in the following request headers:
[code]

Reversing the order of the default-headers results in the request headers having "xmlhttprequest" for both values. In other words, using multiple key value pairs here results in all keys being set to the same value, whichever i

[2015-11-13 20:32] calebsmith commented on #81
Just a quick note for anyone that is bitten by this before it gets fixed/released:

For now, it works to pass in a one argument map/vector as a default-header and to pass any others in under the :headers keyword of the request itself.

[2015-11-16 19:50] moea commented on #59
Assuming the presence of the "xmlhttprequest" NPM package (e.g. via lein-npm), then this works fine: https://gist.github.com/moea/63d7a882e4ad333f3b5a

Performing that kind of global adjustment is obviously a less-good idea in a library intended for reuse.  If there was interest in including something similar, I think the lowest-impact approach would be to include an `xhr-factory` function, which

[2015-11-28 08:51] moea commented on #38
Comment [here](https://github.com/r0man/cljs-http/issues/59#issuecomment-157149720) about running this on Node.

[2015-12-06 13:40] tolgap opened #83 "Error when applying transducer on channel to map :body"
Hi, I'm using the example in the readme to always take `:body` out of my requests at the API call function:

[code]

But I get an error in my console: "Error: [object Object] is not ISeqable".
The request looks like this:

[code]

Is there something extra I need to do? Seems like I can't actually `map` over my request because it's a Javascript object and not a cljs data type.

[2015-12-07 21:11] ZabelTech opened #84 "upload progress, mulitpart params"
Hi,
is there a way to get the upload of a file upload?

[2015-12-16 15:30] jindrichmynarz opened #86 "Enable to configure cljs-http.core/jsonp if response keys are keywordized"
I need `cljs-http.core/jsonp` not to keywordize response keys (<https://github.com/r0man/cljs-http/blob/master/src/cljs_http/core.cljs#L116>), because the keys in the JSON I'm requesting contain slashes and are thus (incorrectly) casted to namespaced keywords. Currently, keywordization is hard-coded, so it's not possible to disable it. Is it possible to add an option to configure if keys would be

[2015-12-16 15:53] r0man commented on #86
@jindrichmynarz Yes, patch with test welcome!

[2015-12-16 16:26] jindrichmynarz commented on #70
This is a warning caused by Google Closure. Updating cljs-http to the current version of Clojurescript (1.7.170) including a more recent version of Google Closure resolves this issue.

[2015-12-16 17:12] jindrichmynarz commented on #86
I drafted a solution to this issue in #87, aiming for minimal changes to the library. Additional changes may include reducing the boilerplate in JSON-P tests, reusing `cljs-http.util/json-decode` in `cljs-http.core/jsonp`, and enabling to set `:keywordize-keys` there as well.

[2015-12-17 10:20] #86 closed

[2015-12-17 11:27] r0man commented on #70
Fixed in master.

[2015-12-17 11:27] #70 closed

[2016-01-01 19:22] profil commented on #66
Seing the same behaviour with `[cljs-http "0.1.39"]`.

[2016-01-02 18:08] r0man commented on #66
Hi Daniel,
I'm in Sri Lanka at the moment and AFK for the next 4 weeks. I can take a
look at this when I am back.
Sorry, Roman.
On 2 Jan 2016 12:52 am, "Daniel Pettersson" <notifications@github.com>
wrote:

[2016-01-05 05:13] #78 closed

[2016-01-05 05:25] drakezhard commented on #78
I'm closing it because It was in support of a [StackOverflow question](http://stackoverflow.com/questions/33193946/no-access-control-allow-origin-header-is-present-when-origin-is-allowed-in-ped/33296052#33296052) that got resolved.

[2016-01-07 05:36] decoursin commented on #39
For anyone who's looking to use this, it's actually `{:cancel cancel}` not `{:cancel-channel cancel}`. I only mention this because it seems to be the only documentation, besides the code itself.

[2016-01-10 05:34] decoursin commented on #83
You need this: `{:accepts :json ...}` in the options list.

[2016-01-10 21:26] tolgap commented on #83
@decoursin thanks that solved it.

[2016-01-10 21:26] #83 closed

[2016-01-22 09:40] jonpither opened #91 "error handler"
Is there way to capture unsuccessful http requests? I.e. 500 status codes. It would be great to see the response body for 500 requests as to debug errors.

Right now an error is thrown from the underlying library and I don't know how to capture/debug it.

[2016-02-17 13:22] vikeri commented on #59
I would find an implemented version of this very useful as well. HTTPS + Node + CLJS seems like a pretty common/powerful usecase?

[2016-03-01 00:08] moea commented on #59
@vikeri Maybe this is helpful meanwhile https://github.com/nervous-systems/kvlt

[2016-03-01 09:42] vikeri commented on #59
I managed to get it working. But `kvit` seems to be a great project! I'm starting to work with React Native so this possibly comes in handy there :)

[2016-03-10 23:46] dqdinh opened #92 "running lein test crashes phantomjs"
Hi, I'm trying to run the unit tests but phantomjs crashes before completing the unit tests. Do these tests pass on your system? Any ideas why this is happening?

`
➜  cljs-http git:(master) ✗ lein version
Leiningen 2.6.1 on Java 1.8.0_45 Java HotSpot(TM) 64-Bit Server VM

➜  cljs-http git:(master) lein test

;; ======================================================================
;; Testing with

[2016-03-11 12:59] r0man commented on #92
@dqdinh The tests used to pass. They fail on my local machine as well now. I'm running phantomjs `2.1.1`. I think the tests assert on some phantomjs internals that have changed now. I think this needs to be changed.

[2016-03-11 13:04] r0man commented on #92
I just updated the dependencies and run the tests on Travis. They passed, so this is related to some changes on phantomjs. I don't have time to work on this at the moment. Patch that works on all phantomjs versions welcome ... ;)

[2016-03-14 16:09] viebel opened #94 "node.js support"
Do you plan to support node.js?

[2016-03-16 22:09] dqdinh commented on #92
@r0man - I'll look into this and see if I can get the tests to pass.

[2016-03-29 20:41] dark4eg opened #97 "not working header X-Access-Token"
(go (let [response (<! (http/get "endpoint"
                                 {:headers {"X-Access-Token"  "token"}}))]
      (println "status" (:status response))
      (println "body" (:body response))))

request headers in browser not contains X-Access-Token header

[2016-03-30 08:17] r0man commented on #97
@dark4eg Are other headers sent along? You may have to configure your server to allow some headers.
https://developer.mozilla.org/en-US/docs/Web/HTTP/Access_control_CORS#Access-Control-Allow-Headers

[2016-05-28 17:02] shaulid opened #98 "Doing the same from Clojure."
It's not really an issue, but a related question.

I'm already using cljs-http, it's great.

I want to use the same workflow in my Clojure server - send a GET request to some other server and get the response.
What's the recommended way to do that?

I already use core.async in both the client and the server, but couldn't find the way to do this request from Clojure (not Clojurescript).

Thanks

[2016-05-28 17:23] shaulid opened #99 "Doing the same from Clojure."
It's not really an issue, but a related question.

I'm already using cljs-http, it's great.

I want to use the same workflow in my Clojure server - send a GET request to some other server and get the response.
What's the recommended way to do that?

I already use core.async in both the client and the server, but couldn't find the way to do this request from Clojure (not Clojurescript).

Thanks

[2016-05-29 09:26] r0man commented on #99
@shaulid Take a look at those HTTP clients for Clojure:
- https://github.com/dakrone/clj-http
- http://www.http-kit.org
- https://github.com/ztellman/aleph

If want to use core.async on your server use a non-blocking client like this:
- http://stackoverflow.com/questions/20534833/is-it-sane-to-use-core-async-channels-to-consume-http-kits-post-results-in-cloj

[2016-09-19 20:08] ncalexan commented on #94
Just FYI, for others finding that Node.js is *not* supported, you'll get errors like:
[code]
to tell you that Node.js isn't supported.

[2016-09-20 20:01] gamecubate opened #102 "(http/post "http://example.com" {:json-params {:foo :bar}}): request object has no body"
Something is not clear to me. Does ```(http/post "http://example.com" {:json-params {:foo :bar}})``` embed the ```{:foo :bar}``` object in the request body? Server side (nodejs) code shows an undefined request  body so not sure what's going on.

[2016-09-20 20:29] gamecubate commented on #102
Realizing this is not a cljs-http issue. Sorry. I am using a nodejs proxy service to forward requests to the (deep) backend. Talking directly to the (nodejs also) backend works: req.body contains the params of my post. So something afoot with my proxy. FYI coded as such:
[code]

[2016-09-20 20:31] #102 closed

[2016-09-24 21:15] viebel opened #103 "How to decode an http/get transit json response to a edn"
My response is in transit json and I need to convert it to edn.

cljs-http automatically converts the json into a cljs object.

So for the moment, I am doing:

[code]

But I'm sure there is a better way.

[2016-09-30 07:19] r0man commented on #103
@viebel I'm on  holiday at the moment and AFK most of the time. What do you mean by " I need to convert it to edn"? An EDN string? I guess you want Clojure maps and vectors. cljs-http should decode transit json responses, provided you set the "Content-Type" header to "application/transit+json".

[2016-09-30 08:20] viebel commented on #103
You guessed right. I want a clojurescript object. The problem is that I cannot modify the "Content-Type" header. Is there a way to tell receive the string as is?

[2016-09-30 12:05] r0man commented on #103
@viebel This is not possible at the moment I think. Patch that mimics the behaviour of clj-http welcome!

[2016-10-02 06:35] shaulid commented on #99
Thanks. Sorry for the delay.

[2016-10-02 06:35] #99 closed

[2016-10-02 06:35] #98 closed

[2017-01-26 09:39] antoinevg commented on #94
Workaround using: https://www.npmjs.com/package/xhr2

[code]

[2017-03-19 04:56] bolivier opened #108 "previewing a request before it gets sent"
It would be really helpful to have the ability to inspect a request before it gets sent out.

The use case I have in mind is to verify that the headers are what I think they are.

[2017-03-20 20:08] r0man commented on #108
@bolivier Can you be more specific? How do you want to inspect? Via logging, `prn` or something else?  Note, you could always write your own middleware and build a specialized client like it is done here:
https://github.com/r0man/cljs-http/blob/master/src/cljs_http/client.cljs#L266
If you are satisfied the middleware works as you want and is generally useful and configurable, send a PR and we can

[2017-06-10 10:18] bsteuber opened #110 "Error handling when server sends invalid json"
I am calling
`(http/get "http://api.icndb.com/jokes/22")`
which interestingly delivers a php error message, but with a header including content-type application/json and status 200. Of course it is a server issue, but it would be nice if cljs-http could return an error here so I can handle it somehow instead of just failing.

[2017-06-10 12:03] r0man commented on #110
@bsteuber I think this is still the best default behaviour. I think we should do the same here as clj-http. Note, that you can always, build your own custom HTTP client by choosing the needed middleware. Take a look here:
https://github.com/r0man/cljs-http/blob/master/src/cljs_http/client.cljs#L266

[2017-09-12 14:27] kapware commented on #29
Just for reference, if someone stumbles here looking for similar looking error:
Error like `Uncaught Error: Undefined nameToPath for namespace.name` happened to me, when I moved cljs file to another directory, changed `require`, but forgot to actually rename the namespace definition.

[2017-11-06 13:42] roti commented on #110
In my case I get an exception thrown, which I mind a little, but my Problem is that I don't know how to catch it. `try` doesn't seem to work:
[code]
The URL returns HTTP 500 with content-type "application/json" and not a json body.

What would be the correct approach here? Here's the stacktrace:
[code]

[2018-01-07 11:15] theronic commented on #29
As per @kapware, check that your `(ns my-project.app)` matches the folder structure, e.g. if located at `~/src/cljs/my-project/app.cljs`. Even a single character will cause this. This catches me all the time - I wish the compiler would warn me, or just not care. The whole concept of files for this seems broken to me. Which matters - namespaces or files? Either namespaces should be the true modular

[2018-01-18 00:02] jmlsf opened #112 "A request that should return an HTTP 405 instead returns status 0"
If I run this simple code:

[code]

I get this response:

[code]

This result seems incorrect in several respects:
1.  We should be getting an HTTP 405.
2.  Even if there were some kind of network error, the GCL documentation states that we should be getting a `:status -1`, not a `:status 0`.
3.  What's up with that `:error-text " [0]"`?  That looks like some kind of interop error.

[2018-01-19 05:32] leourbina commented on #112
@jmlsf An HTTP status of 0 means that the request failed and received 0 bytes as a response. If you look at your console you'll probably find something like this

![developer_tools_-_http___localhost_8080_](https://user-images.githubusercontent.com/434020/35136096-4df8133e-fc96-11e7-9c97-069a7f079e1e.png)

In this case the request failed because Google does not have CORS headers on google.com (pro

[2018-01-19 06:01] jmlsf commented on #112
What about the `:error-text`?  Is that normal?

[2018-01-19 06:03] leourbina commented on #112
Yep. Just look at your network tab and you'll see that the request was rejected. You're not getting anything back from the server. Consider closing this ticket as this is not a bug.

[2018-01-19 06:34] #112 closed

[2018-02-26 13:50] JimTheMan commented on #94
Hey, this is probably a dumb question, but how can I add this library to a lein project? I tried to put `[xh2r "0.1.4"]` under the vector in project.clj  :npm {:dependencies []}, but I am getting this error:

[code]

[2018-02-26 16:11] dviramontes commented on #94
@JimTheMan you might just need run `lein npm install` [as per this page](https://github.com/RyanMcG/lein-npm#managing-npm-dependencies).

[2018-03-08 20:32] jmlsf commented on #110
I just hit this too.  @r0man I have to say I'm confused why you think this is the best default behavior.  If cljs-http gets bad json from the server, what it does right now is print a stack trace to the console, which, of course, is shorn of any context so it's impossible to tell what line of calling code even caused the problem.  This is baffling since cljs-http already has an error reporting mec

[2018-03-08 20:49] Deraen commented on #110
try-catch could be added on `decode-body`: https://github.com/r0man/cljs-http/blob/master/src/cljs_http/client.cljs#L103 and if decode fn throws error, add `:error-code` to the response, and maybe the original exception on some property.

Changing this would cause response to be returned (with empty body) when body can't be decoded.
This would break existing code, because users don't check `:error

[2018-03-08 20:57] jmlsf commented on #110
I'm probably missing something, but right now, if you hit this bug, the entire state machine vaporizes and it never returns.  So whatever you, it surely has to be better than that.  You can't break any calling code in this code path because (I think) it never returns to the calling code.

[2018-03-08 21:15] Deraen commented on #110
Yes, that's the thing. Because currently response is never returned, current user code probably isn't prepared to check if the returned body was decoded successfully. Returning response without decoded body might break those cases.

[2018-03-08 21:21] Deraen commented on #110
Maybe it would make sense to return response with status 0, like:

[code]

Status code 0 would probably enable most existing code to handle these responses as error. I think e.g. Chrome uses status code 0 already in some cases (request timeout, CORS).

[2018-03-09 16:26] r0man commented on #110
Another option would be to use something like this:

http://swannodette.github.io/2013/08/31/asynchronous-error-handling
https://github.com/alexanderkiel/async-error

Any thoughts? @jmlsf @Deraen

@jmlsf I don't have time to work on this myself at the moment, so a patch is very welcome. No need to fork this, just talk to me. I'm open to suggestions. ;)

[2018-03-09 20:38] jmlsf commented on #110
I believe the problem is here:

[code]

The issue is that `util/json-decode` call `js/JSON.parse`, which can throw.

I think the way to fix this is to change `decode-body` to catch exceptions and return what @Deraen suggested like this:

[code]

The alternative is to push the exception on the channel instead of the call to `merge` above, but that would change the library quite a bit because caller

[2018-03-11 12:40] r0man commented on #110
@jmlsf @Deraen Yes, I suggested going with `<?`, even if it is a breaking change. We can communicate this and bumb the version.

However, I'm open to anything. What kind of API would you prefer as the user of this lib? I'm asking because I actually don't use this lib much at the moment myself, and wonder if all those keys you have to check are not a bit overwhelming.

`:status`, `:original-status`

[2018-03-11 23:30] jmlsf commented on #110
I think my two goals are (1) provide a programatic way to deal with errors and (2) make it debuggable.  Dealing with 2 is fairly easy: as long as you communicate the error in some way, either by returning a status object or throwing an exception.  But dealing with (1) requires that we catch exceptions where they occur in the middleware and assign and document error codes (i.e., `:error-code :bad-r

[2018-03-12 17:59] r0man commented on #110
@jmlsf I think `<?` should return either an instance of `ex-info` (which could include more info via `ex-data`) or a complete ring response map, with `{:status ... :body .. etc }`, not only the value of :body.

[2018-03-13 18:16] jmlsf commented on #110
Sorry you are right of course.  At a minimum people will need the status code.

[2018-03-14 21:00] Bost commented on #3
I get:
`Failed to load http://html5rocks-cors.s3-website-us-east-1.amazonaws.com/index.html: The value of the 'Access-Control-Allow-Origin' header in the response must not be the wildcard '*' when the request's credentials mode is 'include'. Origin 'null' is therefore not allowed access. The credentials mode of requests initiated by the XMLHttpRequest is controlled by the withCredentials attribute

[2018-03-14 21:21] jasonmm commented on #94
@JimTheMan, you swapped the last two letters of the library's name. Try using `[xhr2 "0.1.4"]` as the dependency.

[2018-03-27 13:23] a1exsh opened #113 "GET request URL string with multiple values for one parameter"
I've seen the discussion in https://github.com/r0man/cljs-http/issues/47, but my case is subtly different.

I need to call an API with a URL which contains multiple values for the same parameter (a list parameter), but I'm not building the URL: I'm receiving it as part of response from the API.  So I can't just use the `:query-params` option unless I parse the URL myself before making the request.

[2018-03-28 07:19] r0man commented on #113
Yes, let's try to not parse the :url key in the request map and pass it
unmodified to XHR. Patch welcome!

On Tue, Mar 27, 2018, 15:23 a1exsh <notifications@github.com> wrote:

[2018-03-28 07:58] a1exsh commented on #92
Still an issue here with phantomjs-2.1.1+dfsg-2 on Ubuntu 17.10. :(

[2018-03-28 08:18] a1exsh commented on #113
Yeah, I now see it is bit more complex.

Not parsing and re-building the URL will solve the case when you only have the `:url` and no additional params.  But since the client already supports mixing `:url` and `:query-params` in a request, we would still have to parse it occasionally.

I wonder if we should rather make the parsing and building more flexible in order to be able to accommodate list

[2018-03-29 07:36] jmlsf opened #114 "Unit test failing"
@r0man The unit tests are failing as we discussed.  It appears to be because of phantomjs.  This fix looks a bit ugly.  See this issue:

https://github.com/bensu/doo/issues/140

I tried it with karma & chrome-headless and the tests pass.  I'll submit a PR if you want to try it out.

[2018-03-29 12:24] r0man commented on #114
@jmlsf Yes, a PR would be welcome. We can also drop phantom if there are better options?

[2018-03-29 15:55] jmlsf commented on #114
If we can get chrome-headless to work in travis, that is surely better.  The problem here is that I need to install karma to use chrome-headless with lein-doo.  I think I'll have to add a package.json to do so.

[2018-03-30 08:19] #114 closed

[2018-03-31 17:13] a1exsh commented on #113
Wait, `generate-query-string` is already aware of list handling, so this part is a no-brainer. ;)

[2018-03-31 17:44] a1exsh commented on #113
After some consideration I believe that we should have the behavior of parsing into list by default, w/o an additional parameter to control this.  This ensures that the URL is preserved in the process of parsing and rebuilding.  If someone wants a finer control, the URL can still be parsed and adjusted to taste.

Opened a PR: #116

[2018-04-03 07:30] a1exsh commented on #113
OK, let's close this now since #116 is merged. :)

[2018-04-03 07:30] #113 closed

[2018-05-19 19:37] ckuttruff opened #117 "Struggling with CORS post request to compojure / ring backend using ring.core / cljs-http..."
Hey all, firstly, thanks for the project!  @r0man have also been working with `ring-cors` to try to get this sorted.  I have, however gotten hung up on some preflight issues on the cljs-https side.

Server code (uses compojure / ring / misc middleware):
https://github.com/ckuttruff/orghub/blob/master/src/orghub/server.clj#L36
Relevant section (sorry, started to throw the kitchen sink at these head

[2018-05-19 20:09] ckuttruff commented on #117
ooohhh, the plot thickens... got more useful debug output from firefox than chrome:
`Cross-Origin Request Blocked: The Same Origin Policy disallows reading the remote resource at http://localhost:3000/login. (Reason: expected ‘true’ in CORS header ‘Access-Control-Allow-Credentials’).`

gonna try setting that now

[2018-05-19 20:16] ckuttruff commented on #117
lol, okay, so this change addressed one issue.  #FunWithTyping
https://github.com/ckuttruff/orghub/commit/6c3a51250a072f14b0d2a35827ccd5021848ea86

[code]

Incredibly this fixes things for firefox, but not for chrome.  So there's a secondary issue with headers here in terms of what chrome is sending and what the server is expecting at this point

[2018-05-19 20:32] ckuttruff commented on #117
![headers](https://user-images.githubusercontent.com/253577/40272803-bf435554-5b68-11e8-9fc8-881836905445.png)

A side-by-side of the request headers.
Chrome (on the left) gets `XHR failed loading: POST "http://localhost:3000/login".`
Firefox (on the right) succeeds.

Obv some minor differences here.  Gonna dig into the CORS docs to see what's up here...

[2018-05-20 04:28] ckuttruff commented on #117
p.s. to folks running `lein figwheel` alongside `lein ring server`:

The simplest thing for me was to set a handler on the clj side and unify the traffic under the same port (such that it won't trigger CORS (which has been a gigantic pain to try to figure out)).

Here's the commit that got things working for me:
https://github.com/ckuttruff/orghub/commit/190d4129057f93484104df97255e252e722dba9f

A

[2018-05-20 04:28] #117 closed

[2018-08-24 14:27] fl00r commented on #68
Same problem

[2018-08-24 14:38] fl00r commented on #68
`cljs-http` doing everything properly,

but, accordingly to https://developer.mozilla.org/en-US/docs/Web/API/XMLHttpRequest body in GET/HEAD request are not supported. which is weird.

[2018-10-01 17:35] arichiardi commented on #94
Hello folks, bumped into this as well!

I saw that there are many forks fixing this, maybe we can think about merging one of theem?

[2018-10-02 21:50] arichiardi commented on #94
For `shadow-cljs`, this is what I've got working:

[code]

[2018-10-05 07:05] divs1210 commented on #117
Hi @ckuttruff, I'm facing the same issue. Did you get around it? I can see you have switched your project over to Ruby - not a good sign, but thought I should ask anyway.

[2018-10-05 07:36] ckuttruff commented on #117
@divs1210 sorry moved repo:
https://github.com/ckuttruff/orghub-clj/commit/190d4129057f93484104df97255e252e722dba9f

The code in should show my approach.  I believe I got this sorted but was dealing with other issues such that I wanted to simplify.

Would love to use clj / cljs, but yeah, started with ruby one and stripped out all the progressive web app stuff and a lot of the front-end complexity

[2018-10-05 07:42] ckuttruff commented on #117
@divs1210 I updated stale links.  Hope it's helpful.  Good luck!

[2018-10-10 20:38] yilazius opened #119 "Response body flattens `schema` object"
I've got a HTTP endpoint which returns a body like:
[code]
for some reason `cljs-http` is removing the schema object and flattening in its content into the parent container.
[code]

[2018-10-10 21:42] yilazius commented on #119
never-mind, I added a bunch of test-cases, it works fine!

[2018-10-10 21:42] #119 closed

[2018-11-07 16:17] wmatson commented on #91
Here's my workaround for whoever next looks:
[code]

[2018-11-26 16:34] josephhanceslm commented on #110
I have an identical issue where the server back-end is sending a VALID JSON response but is sending an HTTP 400 error response.  The traceback is:

![image](https://user-images.githubusercontent.com/43621679/49027908-2e954b00-f16f-11e8-82af-6761e8bdd92e.png)

[2019-04-12 23:49] wiseman commented on #94
For those using `xhr2`, how have you stopped it from displaying the "Discarding entity body for GET requests" warningwhen used from `cljs-http`?

[2019-04-19 19:39] gaberger commented on #94
I got sick of this and found another library
[code]

[2019-04-29 20:52] wiseman opened #121 "Binary response data gets mangled"
When I do a GET of, e.g., a JPEG, it seems that the `:body` of the response gets mangled when it is converted to a string. How do I get access to the raw binary of the response body?

[2019-05-12 06:40] TerjeNorderhaug commented on #121
To get a raw binary body, add `:response-type :array-buffer` to the request options. Alternative keywords include:

[2019-05-15 22:13] TerjeNorderhaug commented on #121
Added [How tto fetch Binary Data](https://github.com/r0man/cljs-http/wiki/How-to-Fetch-Binary-Data) to the wiki.

[2019-06-14 12:15] gnuman opened #122 "react native support"
With react-native http/post request results in http-error, any plans to support for react-native?

[2019-06-16 06:59] gnuman commented on #122
while specifying url of server one needs to give ip address instead of localhost. Closing my bug

[2019-06-16 06:59] #122 closed

[2019-06-18 14:49] kanaka commented on #110
I hit what I believe is the same problem when decoding EDN with an unsupported type: "No reader function for tag ordered/set."

[2019-06-22 12:26] r0man commented on #110
@kanaka Custom EDN readers are not supported yet I think. We need something similiar to:
https://github.com/dakrone/clj-http/blob/3.x/src/clj_http/client.clj#L64
PR welcome!

[2019-06-24 15:46] kanaka commented on #110
@r0man custom readers would be great but my more immediate concern was that there doesn't appear to be a way to cleanly catch invalid/unsupported data so that it can be reported properly to the user.

[2019-06-28 18:39] r0man commented on #110
@kanaka Yes, that is still an issue. I think we need something what I described here:
https://github.com/r0man/cljs-http/issues/110#issuecomment-372112437

[2019-09-26 02:47] kangbb opened #123 "The custom channel seems doesn't work"
I hava tried it as following:
[code]
But nothing will print.

[2019-10-31 04:43] seancorfield commented on #123
@kangbb You're passing two maps -- it should just be one:
[code]

[2019-10-31 11:22] kangbb commented on #123
Thanks a lot, it works.

[2019-10-31 11:22] #123 closed

[2019-11-05 12:27] vladkotu opened #124 "jsonp throws exception due to goog.net.Jsonp api changes"
Attempt to get data using `cljs-http.client/jsonp` throws an exception:
[code]

Seems like it caused by these [changes](https://github.com/google/closure-library/commit/8d38b0b4cfbd1dc979a5b49ae12ea2e0478b01c9#diff-59a6d30efb3f36962c8b446fc7b196c8R61)
In short - `goog.net.Jsonp` expect uri to be `goog.html.TrustedResourceUrl` (string of goog.Uri were valid before)

Potentially could be fixed by ch

[2019-11-05 14:19] vladkotu commented on #124
looks like it is reproducible only in my local env
(`shadow-cljs` uses very latest version of `org.clojure/google-closure-library`)
hence closing this issue

[2019-11-05 14:20] #124 closed

[2020-01-11 05:07] JimLynchCodes commented on #94
Hey all!

Funny that I just stumbled upon this post again! I was able to get the request working with the same two lines above here and adding`'xhr2': '0.2.0'` to my `build.gradle` file.

I am also seeing this odd, "Discarding entity body for GET requests" message. Does anyone have any more info on this?

[2020-01-23 07:48] veer66 opened #125 "README probably has a typo"
According to README:

[code]

:progress progress-chan should be :progress progress-channel, shouldn't it?

[2020-02-01 20:50] realgenekim commented on #124
Hi, @vladkotu — I'm having the same problem, using shadow-cljs.  Thanks for determining what is causing it.  How were you able to resolve the problem?  Many thanks!!!

[2020-02-01 21:34] realgenekim opened #126 "jsonp call results in error: TypeError: this.uri_.cloneWithParams is not a function at goog.net.Jsonp.send"
@r0man — thank you for this wonderful library.  I've been using it for 2+ years.  I recently switched an app from figwheel to shadow-cljs, and now `jsonp` fails.  Maybe because it uses a newer version of the Google Closure library?

I thought this might have had to do with the issue #124, which appears to be because of an interface change: " goog.net.Jsonp expect uri to be goog.html.TrustedResourc

[2020-02-01 22:07] r0man commented on #126
@realgenekim Thanks :) I somehow missed issue #124. Yes, I also think this could be due to shadow-cljs using a newer version of the Google Closure lib. You could try the solution proposed in #124 and if this is also working with stock ClojureScript we can add this to cljs-http. PR welcome!

[2020-02-02 01:54] realgenekim commented on #126
Roger that!  I'll take a stab at it in the next couple of days — 

PS: Is it common to have Google Closure library API changes like this, where it breaks existing callers?

[2020-02-04 05:19] realgenekim commented on #126
@r0man Okay, I have a version of cljs-http.core/jsonp that works with the versions of Google Closure compiler that shadow-cljs uses...  🎉🎉🎉 I'll post a link to the diffs tomorrow.

But it just hit me — seems like there should be a code path for the older versions of Google Closure goog.net, and one for the newer versions — how does one determine what version of the Closure compiler is being used?

[2020-02-04 16:06] thheller commented on #126
FWIW the "trusted" setup that parts of the closure-library use is purely for code-review purposes inside Google. They aren't actually enforced by the Compiler so you may "cheat" to get things to behave like you want.

I haven't looked into this issue in particular but it appears that it is just calling a `cloneWithParams ` method in the uri you handed it. So in theory you can extend `goog.Uri` to

[2020-02-06 17:33] realgenekim commented on #126
@thheller What a clever idea.  I'll have something in the next couple of days!

[2020-02-18 12:30] vladkotu commented on #124
Hi @realgenekim  All i needed was to call jsonp endpoint once a while. No other network interactions... so i just wrote custom jsonp function for myself.
Setting google closure lib version explicitly in your project should help, however i'm not sure shadow-cljs will handle such downgrade smoothly.
Anyway I would better post an issue in shadow-cljs project

[2020-03-15 11:33] zendevil opened #127 "Why would the cljs-http.client request be blocked by the cors policy if the clj-http.client request isn't?"
I make a request like so using clj-http.client

[code]
and get a response with status 200.

However, when I make the same request with cljs-http.client like so:

[code]
I get a response with status 0, and in the browser it says that it's been blocked by the cors policy.

Why would the cljs-http.client request be blocked by the cors policy if the clj-http.client request isn't? I have manually set t

[2020-05-31 16:56] jrdoane opened #128 "Improve README to describe core functionality."
Often when I'm trying to use this library, I need to read the code to figure out how the `request` function works as well as manually inspecting the return values of calling it. More formal documentation for how all publicly exposed functions work would greatly improve my ability to use this library, otherwise I'm just feeling my way around until I get it right.

[2020-08-15 23:19] realgenekim commented on #126
Hi, @thheller and @r0man — not sure how to proceed on this one...  I have had new JSONP call code working locally since Feb 2, but just recently found a React component that obviates need for this code entirely.  Which means I can delete my local version of `cljs-http`.

Here's the diff of what I have running — can you advise on what I can do to be most helpful, as JSONP definitely has a breaking

[2020-08-16 00:22] realgenekim commented on #126
@thheller Alas, I think this might be beyond my skills.  (I'm even having trouble getting a REPL session open — I'm guessing I need to create a new lein project, with checkouts configured?  In the meantime, I'm just trying to run the tests via `doo`.)

1.  My current approach breaks the existing JSONP tests, because the specified version of the Google Closure Compiler needs the old style input.

(

[2020-08-16 10:30] thheller commented on #126
Sorry can't help much. The whole "Trusted" setup inside the closure library code is very useful but it is very invasive and sort of an all or nothing proposition. If you don't do it properly everywhere you might as well not do it at all. Just hacking arround it is definitely not the right approach. So I'd probably just write the 20 lines of code to get Jsonp working myself in CLJS without those ch

[2020-10-30 15:56] victorb commented on #127
Any chance you're calling clj-http.client from a Clojure context (instead of ClojureScript)? AFAIK, clj-http only works in Clojure, so it's running server-side, where there is no CORS restrictions, only the browser requests has to follow the rules of CORS.

[2021-02-03 16:14] chanshunli opened #129 "Uncaught ReferenceError: cljs_http is not defined"
I use the  cljs-http in chrome extension, it's version "0.1.46" .  but i get this error:

[code]

<img width="856" alt="截屏2021-02-04 上午12 09 44" src="https://user-images.githubusercontent.com/6021537/106774784-72543b00-667d-11eb-9f2e-a9432724d4c1.png">

[2021-02-03 16:50] chanshunli commented on #129
<img width="842" alt="截屏2021-02-04 上午12 48 11" src="https://user-images.githubusercontent.com/6021537/106780228-bbf35480-6682-11eb-9d94-8189409e45c1.png">

[2021-02-24 22:00] kiramclean commented on #66
I ran into this as well on v 0.1.46. Wondering if anyone found a workaround?

[2021-02-24 22:02] kiramclean commented on #123
@kangbb How are you consuming the responses from the custom channel? I'm running into the issue described in https://github.com/r0man/cljs-http/issues/66, but would like to use a custom channel.

[2021-06-30 16:58] EdwardIII opened #130 "Binary data doesn't seem to be included with multipart post?"
I'm certain this is something I'm doing, not a bug.

When I try to send a file like this:

[code]

It seems all the metadata gets sent, but not the actual binary data?

[code]

Here's the function:

https://gist.github.com/EdwardIII/ad7932af3ebf057b5d8127ec10a00a5e#file-02-uploader-cljs

I'm trying to upload from a file drag & drop:

https://gist.github.com/EdwardIII/ad7932af3ebf057b5d8127ec10a00a

[2021-12-20 16:00] rpompen opened #132 "Mangled JSON replies"
Although the library works fine for simple situations, I'm now confronted with the inability to properly use a database.

It returns JSON keys with spaces in them. cljs-http tries to convert this into keywords (But why? JSON keys are strings, strings are not idempotent with keywords).

Is there a way to deactivate keywordization that I'm not aware of?

Regards,

Roel Pompen

[2021-12-21 08:35] fversnel commented on #132
`clj-http.client/request` is a batteries included version of `cljs-http.core/request` which does all kinds of smart things. If you want to control the things that the http client does you can create your own version of the request fn like so for example:

`(def request (-> cljs-http.core/request custom-wrap-json-fn))`

[2021-12-22 18:48] rpompen commented on #132
O cool.  Thank you very much.
 I should’ve studied that wrapper design up front.

[2021-12-22 18:48] #132 closed

[2022-05-29 22:32] esp1 opened #135 "Function redefinition warnings with Clojure/Script 1.11"
When using Clojure/Script 1.11, you will get function redefinition warnings because `cljs-http` depends on `noencore`, which defines `parse-long` and `parse-double` functions which are now included in `clojure.core`.
[code]

[2022-11-05 14:12] ruffnext commented on #135
I have fixed this issue. see https://github.com/r0man/cljs-http/pull/136

If the pull request has not been merged for a long time, you can try to use [org.clojars.ruffnext/cljs-http "0.1.47"]

[2022-11-29 15:26] ulrichschinz commented on #129
Hi there. Could you solve that problem, I get the same error in similar circumstances.
[code]

Opening the repl and calling `(get-document 1)` leaves me with following message:

[code]

Calling only the http/get request, says me, that cljs_http is not defined:

[code]

I already removed all from ./target/dev and also refreshed cache in ~/.m2/repository. But it leaves me with this error.

Any hints